/* --- Base Styling and Reset ---*/ 
:root {  
    --padding-sm: 10px;
    --padding-lg: 20px;
}

/* --- Main Content Styling --- */
.content-wrapper {
    width: 100%;
    max-width: 1000px; /* Max width for content area */
    margin: 0 auto;
}

/*General Page styling*/
.pagewrapper {
box-shadow: 0px -1px 1px 16px rgba(75, 29, 19, .8);
background-color: #b0818a;
padding: 15px;
border-radius: 18px;
position:relative;
width: 90%;
margin: 10px auto;
min-width: 70%;
min-height: 80%;
max-width: fit-content;
max-height: fit-content;
}


body {
  color:rgba(75, 29, 19, 1);
  background-color: #E5D1A4;
  background-image: url(penndragonimages/wrapperimage.jpeg);
  background-image
  background-repeat: no-repeat;
  text-align: center;
  font-family: "Tangerine", cursive;
  font-weight: 500;
  font-size: 40px;
  font-style: normal;
}

h1, .cormorant-unicase-bold {
  display: inline-block;
  padding:20px;
  border-color:rgba(75, 29, 19, 1);
  border-width: 8px;
  background: #E5D1A4;
  border-style: ridge;
  text-align: center;
  font-family: "Cormorant Unicase", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  border-radius: 8px;
}

h3 {
display: inline-block;
background-color: #E5D1A4;
border-width: 2px;
border-style:ridge;
border-radius: 8px;
padding: 4px;}

p {
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

img {
  border-radius: 8px;
}

/*Page title card styling*/

.pagetitle {
  margin-bottom: 10px;
  opacity: 1;
  animation-duration: 2s;
}

.animate_animated {
    opacity: 1;
}

/* --- Header and Navigation Styling --- */
.main-header {
    display: flex;
    justify-content: flex-start; /* Start from the left */
    align-items: center;
}

/*Hamburger Menu Styling and animation*/

.hamburgermenu {
      position: relative;
      display: inline-block;
    }

    .hamburgermenu-content {
      position: absolute;
      top: 100%;
      left: 0;
      background: rgba(75, 29, 19, .8);
      min-width: 160px;
      box-shadow: rgba(75, 29, 19, .8);
      opacity: 0;
      transform: translateY(-10px);
      transition: all 0.3s;
      pointer-events: none;
      border-radius: 0.5rem;
    }

    .hamburgermenu:hover .hamburgermenu-content {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }

    .hamburgermenu-content a {
      color: rgba(75, 29, 19, 1);
      padding: 0.5rem 1rem;
      text-decoration: none;
      display: block;
    }

    .hamburgermenu-content a:hover {
      background: rgba(75, 29, 19, 1);
    }

  .btnpulse{
    border-color: #b0818a;
    background-color: #b0818a;
    border-style: solid;
    border-radius: 8px;

    }

 .fa-solid {color: rgba(75, 29, 19, 1);
 }

/* Navigation Links (Hidden by default on mobile) */
.main-nav {
    display: none; /* Hide navigation links on small screens */
    margin-right: auto;
    margin-left: auto;
}

.nav-item {
    border-color:rgba(75, 29, 19, 1);
    border-width: 8px;
    background: #E5D1A4;
    border-style:ridge;
    font-family: "Cormorant Unicase", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    border-radius: 4px;
    padding: 6px;
    margin-left: 4px;
    margin-right: 4px;
    white-space: nowrap; /* Keep links from wrapping */
    display: inline-block;
    border-radius: 8px;
}

a{text-decoration: none;color:rgba(75, 29, 19, 1)}
  a:hover{color: #E5D1A4;background-color:rgba(75, 29, 19, 1)}

.linktorooms, .cormorant-unicase-bold {
  display: inline;
  border-color:rgba(75, 29, 19, 1);
  background: #E5D1A4;
  border-style:ridge;
  font-family: "Cormorant Unicase", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  padding:2px;
}

/* Hero Section */
.homeimage{
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:15px;
    border-radius: 8px;
    box-shadow: 0px 2px 15px 5px rgba(75, 29, 19, .8);
}
img {
    max-width: 100%;
}


/* Text Content Area */
.text-content {
    padding:10px;
    margin-bottom:10px;
}

/*------- Rooms page styling -------*/
.roomsflexcontainer {
    display: flex;
    /*flex-direction: column; /* Default: Stack columns vertically on mobile */
    column-gap: 25px;
    width: 100%;
    max-width: 1200px; /* Optional: limit overall width on large screens */
    margin: 0 auto;
}

.room-column {
    flex: 1 1 100%; /* Take up 100% width on mobile */
    background-color: #b0818a;
    padding:10px;
}

.roomimage{
    border-radius: 8px;
    box-shadow: 0px 2px 15px 5px rgba(75, 29, 19, .8);
}

.roominfo {
    margin: 15px;
}

.reservationlink, .cormorant-unicase-bold {
  display: inline;
  border-color:rgba(75, 29, 19, 1);
  background: #E5D1A4;
  border-style:ridge;
  border-width: 4px;
  font-family: "Cormorant Unicase", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  padding:2px;
}

/*------- cafe page styling -------*/
.menuflexcontainer {
  display: flex inline-block;
  flex-direction: column;
  position: relative;

}

.cafeimage {
    margin-bottom: 20px;
    box-shadow: 0px 2px 15px 5px rgba(75, 29, 19, .8);
}

.cafemenu {
  border-color:rgba(75, 29, 19, 1);
  background: #E5D1A4;
  background-size: contain;
  border-style:ridge;
  font-family: "Cormorant Unicase", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  padding:2px;
  margin: 15px;
  border-radius: 8px;
}

/* Dropdown Menu */
    .cafemenu-content {
      position: relative;
      background:rgba(75, 29, 19, 1);
      box-shadow:rgba(75, 29, 19, .8);
      border-radius: 8px;
      display: none;
      transform: translateY(-10px);
      transition: all 0.3s;
      pointer-events: none;
    }

    .cafemenu:hover .cafemenu-content {
      display: inline-block;
      transform: translateY(0);
      pointer-events: auto;
      border-radius: 8px;
    }

    .cafemenu-content ul {
      color: #E5D1A4;
      padding:4px;
      text-align: left;
      max-width: fit-content;
      list-style-type: none;
      border-radius: 8px;
    }

    .cafemenu-content ul:hover {
      background:rgba(75, 29, 19, .8);
    }

    /*----- shop page styling ----- */
.currency-icon-container {
    float: right;
    background-color:rgba(75, 29, 19, 1);
    border-radius: 4px;
    width: 30px;
    height: 30px;
}

/* Main Gallery and Categories*/
.product-gallery {
    display: block;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-evenly;
    /* Default: 1 column on smallest mobile screens */
    grid-template-columns: repeat(1, 1fr); 
    gap:10px;
    padding-bottom: 20px;
    width: 100%;
    max-width: 1400px; /* Optional: limit overall width on large screens */
    margin: 0 auto;
}

.productrow {
    margin-bottom: 20px 0;
}

.category-title {
  display: inline-block;
  border-color:rgba(75, 29, 19, 1);
  background: #E5D1A4;
  border-style:ridge;
  font-family: "Cormorant Unicase", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  padding:2px;
  margin-bottom: 20px;
}

/* --- Product Grid Styling (The core layout) --- */
.product-grid {
    display: grid;
    /* Default: 1 column on smallest mobile screens*/
    grid-template-columns: repeat(1, 1fr); 
    gap:10px;
    padding-bottom: 20px;
} 

/*Individual Product Card styling*/
.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Cormorant Unicase", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    border-radius: 8px;
    border-width: 2px;
    border-color: rgba(75, 29, 19, 1);
    background-color: rgba(75, 29, 19, .8);
    border-style: ridge;
}

/*product card animation*/
.product-card {
  width: 200px;
  height: 250px;
  margin: 15px auto;
  perspective: 1000px;
  cursor: pointer;
}

.productimage {
  border-style: hidden;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.product-card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  background: #E5D1A4;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}


.card-back {
  transform: rotateY(180deg);
  text-align: center;
}
/*Product Page Styling*/
.productflexcontainer {
    display: flex;
    /*flex-direction: column; /* Default: Stack columns vertically on mobile */
    column-gap: 25px;
    width: 100%;
    max-width: 1200px; /* Optional: limit overall width on large screens */
    margin: 0 auto;
}

.product-column {
    flex: 1 1 100%; /* Take up 100% width on mobile */
    background-color: #b0818a;
    padding:10px;
}

.productimage{
   border-radius: 8px;
    box-shadow: 0px 2px 15px 5px rgba(75, 29, 19, .8);
}

.productinfo{
max-width: 70%;
margin-left: auto;
margin-right: auto;
}

.addtocart{
   border-color:rgba(75, 29, 19, 1);
    border-width: 8px;
    background: #E5D1A4;
    border-style:ridge;
    font-family: "Cormorant Unicase", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    border-radius: 4px;
    margin-left: 4px;
    margin-right: 4px;
    white-space: nowrap; /* Keep links from wrapping */
    display: inline-block;
    border-radius: 8px;
}

/*----- local attraction page styling ----- */
.localflexcontainer {
    display: flex;
    /*flex-direction: column; /* Default: Stack columns vertically on mobile */
    column-gap: 25px;
    width: 100%;
    max-width: 1200px; /* Optional: limit overall width on large screens */
    margin: 0 auto;
}

.local-column {
    flex: 1 1 100%; /* Take up 100% width on mobile */
    background-color: #b0818a;
    padding:10px;
}

.attraction, .cormorant-unicase-bold {
  display: inline-block;
  border-color:rgba(75, 29, 19, 1);
  background: #E5D1A4;
  border-style:ridge;
  font-family: "Cormorant Unicase", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  padding:2px;
  margin: 15px;
}

.localimage {
  border-radius: 8px;
    box-shadow: 0px 2px 15px 5px rgba(75, 29, 19, .8);
}

/*----- contact page styling ----- */
.contactcontent {
    flex-direction: row;
    padding-bottom: 20px;
    width: 100%;
    max-width: 1400px; /* Optional: limit overall width on large screens */
    margin: 0 auto;
}

.contactimage {
    /* Use padding-bottom trick for a responsive square */
    width: 100%;
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0px 2px 15px 5px rgba(75, 29, 19, .8);
}

.contactinfo {
  border-color:rgba(75, 29, 19, 1);
  border-style:hidden;
  font-family: "Cormorant Unicase", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  padding: 10px;
 }

 /*-----------Form page styling-------------*/
 .formlines{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

select, input {

 text-align: center;
 border-color:rgba(75, 29, 19, 1);
 background: #E5D1A4;
}


.formbutton {
  border-color:rgba(75, 29, 19, 1);
  background: #E5D1A4;
  border-style:ridge;
  border-radius: 8px;
  font-family: "Cormorant Unicase", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  padding:2px;
}
.formbutton:hover{color: #E5D1A4;background-color:rgba(75, 29, 19, 1); cursor: pointer;}



/* --- Footer Styling --- */
.main-footer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background-color: #b0818a;
}

.footer-item {
    padding: 10px;
    border-radius: 4px;
    width: 150px; /* Fixed width for the small footer element */
    text-align: center;
}

footer {
    background-color: #b0818a /* White background for the footer */
    padding: 20px;
    text-align: center;
}

.footer-image {
    max-width: 100px; /* Adjust size as needed */
    height: auto;
    display: block; /* Removes extra space below image */
    margin: 0 auto; /* Centers the image */
    padding-bottom: 10px; /* Space below the image */
    border-style: hidden;
}

/*footer animation*/
.animate__pulse{ animation-duration: 2s;
animation-iteration-count: infinite;
}

/* --- Responsiveness: Desktop/Tablet View (Media Query) --- */
@media (min-width: 768px) {
    
    .main-header {
        /* Distribute the main navigation elements */
        justify-content: space-between;
    }

    /* Hide the hamburger icon on larger screens */
    .hamburgermenu {
        display: none;
    }

    /* Show the navigation links */
    .main-nav {
        display: flex;
        /* Center the group of links */
        margin-left: auto; 
    }

    .product-gallery {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-evenly;
    /* Default: 1 column on smallest mobile screens */
    grid-template-columns: repeat(1, 1fr); 
    gap:10px;
    padding-bottom: 20px;
    width: 100%;
    max-width: 1400px; /* Optional: limit overall width on large screens */
    margin: 0 auto;}
}



        /*Nav bar animation*/
        .animate__zoomIn{
        animation-delay: 1s;
        animation-duration: 2s;
        animation-fill-mode: both;
        }
